@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: radial-gradient(circle, black, rgb(55, 101, 55));
}

ul{
    list-style: none;
    display: flex;
    gap: clamp(2rem, 4rem, 4rem);
}


h1, h3, h4{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.1rem;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
}

h4 {
    font-weight: 400;
    font-size: 0.9rem;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.password-container img{
    top: 30%;
    right: 5%;
    position: absolute;
    width: 1rem;

}


#login-btn,
#register-btn {
    width: 100%;
    color: white;
    background-color: rgb(14, 68, 17);
    padding: 0.8rem 3rem;
    border: 2px solid black;
    border-radius: 20px;

}


.parent-container{
    position: relative;
    display: flex;
    width: clamp(300px, 80%, 1200px);
    height: 85dvh;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-items: space-between;
    overflow: hidden;
}

.form-container {
    position: absolute;
    display: flex;
    width: clamp(50%, 45%, 45%);
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    

}

.login-form {
    left: 0;
}

.register-form {
    right: 0;
}

.top { 
     
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.login-form .top{
    gap: 1.2rem;
}

.login-form .input-container{
    gap: 1.65rem;
}

.login-form .bottom {
    margin-bottom: 1.5rem;
}

.register-form .bottom {
    margin-bottom: 1rem;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.input-container,
.password-container{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
}

.input-container input[type="text"],
.input-container input[type="password"] {
    padding: 0.7rem 1rem;
    border: 1.75px solid black;
    border-radius: 20px;
}

.input-container input[type="checkbox"]:checked{
    accent-color: green;
}

.password-container {
    width: 100%;
}

.form-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.remember-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem
}

.fa-brands  {
    background-color: black;
    color: white;
    padding: 1.2rem 1.2rem;
    border-radius: 50%;
}

.register-form #brand-register-btn img {
    width: 20px;
}

.register-form #brand-register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(212, 211, 211);
    color: black;
    padding: 0.6em;    
    border-radius: 20px;
    border: 1.75px solid black;
}



/*  */

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 80%;
    gap: 1rem;
    margin: 0.4rem;
}
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: black;
    opacity: 0.25;
}
.divider span h3 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

/* Button Hovers */
#login-btn:hover,
#register-btn:hover{
    background-color: rgb(53, 157, 63);

}   


#brand-signup-btn:hover{
    color: white;
    background-color: rgb(163, 163, 163);
}


/* Img Container & animations */
.img-container img{
    width: 1250px;

}

.img-container{
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 80px 20px 20px 80px;
    overflow: hidden;


}

.img-container.left{
    animation: 0.75s imageSlideLeft ease-in-out;
    animation-fill-mode: forwards;

}

.img-container.right{
    animation: 0.75s imageSlideRight ease-in-out;
    animation-fill-mode: forwards;
}



/* Layouts */


.hidden {
    display: none;
}


/* Animation */

.step1 {
    opacity: 0;
    animation: 0.4s dropDown ease-in-out 0.2s;
    animation-fill-mode: forwards;
}

.step2 {
    opacity: 0;
    animation: 0.4s dropDown ease-in-out 0.5s;
    animation-fill-mode: forwards;
}


.step3 {
    opacity: 0;
    animation: 0.4s dropDown ease-in-out 0.8s;
    animation-fill-mode: forwards;
}

.step4 {
    opacity: 0;
    animation: 0.9s popUp ease-in-out 0.8s;
    animation-fill-mode: forwards;
}




@keyframes imageSlideLeft{

    0%{
        right: 0;
        border-radius: 20px;
    }
    
    50%{
        width: 100%;
        border-radius: 20px;
    }

    100%{
        left: 0;
        width: 50%;
        border-radius: 20px 80px 80px 20px;
    }
}


@keyframes imageSlideRight{

    0%{
        border-radius: 20px;
    }
    
    50%{
        width: 100%;
        border-radius: 20px;
    }

    100%{
        right: 0;
        width: 50%;
        border-radius: 80px 20px 20px 80px;
    }
}


@keyframes dropDown{
    from  {
        opacity: 0;
        transform: translateY(-40%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes popUp{
    from  {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.disappearLeft {
    animation: 0.5s disappearLeft ease-in;
}

@keyframes disappearLeft {
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-500%);
    }
}

.disappearRight {
    animation: 0.5s disappearRight ease-in;
}


@keyframes disappearRight {
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(500%);
    }
}